
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: rgb(0, 4, 253);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}


main {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #ff53f6;
}


#product-list,
#cart {
    width: 45%;
}


.product,
#cartItems li {
    background-color: rgb(0, 236, 253);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0066ff;
    border-radius: 5px;
}


button {
    padding: 8px 12px;
    background-color: rgb(239, 255, 16);
    border: none;
    border-radius: 5px;
    color: rgb(252, 50, 0);
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 0, 0);
    color:cornsilk
}


#totalPrice {
    font-weight: bold;
    margin-top: 10px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
