
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header,
footer {
    background-color: rgba(255, 74, 2, 0.993);
    color: white;
    padding: 20px;
    text-align: center;
}


main {
    padding: 20px;
    text-align: center;
    background-color: rgb(0, 255, 128);
    min-height: 80vh;
}


.container {
    max-width: 600px;
    margin: auto;
}


button {
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: rgb(153, 255, 0);
    color: black;
}


textarea,
input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
